{% extends 'base.html.twig' %}

{% block title %}Vocc - à propos{% endblock %}

{% block body %}
    <div class="apropos-banner align-items-center">
        <div class="container">
            <p id="apropos-title">à propos</p>
        </div>
    </div>
    <div class="apropos-first-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <img src="{{ asset('asset/img/apropos_image.png') }}" alt="apropos_image">
                </div>
                <div class="col-lg-8">
                        <p class="apropos-paragraph">  « Plus de trois décennies d’expérience en contact avec les clients, nous ont convaincus que les <b>réclamations</b> constituent le mur porteur de la <b>Relation Client</b> et de son corollaire la <b>Fidélisation</b>. » </p><br> 
                        <p class="apropos-paragraph"><b>M SIMOU Yassin</b> Associé-Gérant a plus de trente deux ans d’expérience en management d’entités de 5 à 750 personnes. Il a passé 18 années à développer des systèmes d’information, durant les 10 dernières années il a été responsable des systèmes Qualité de Service, de la Fidélisation et de la <b>Relation Client</b> d’une importante société de plus de 5000 employés et 7 millions de clients par an.</p><br>
                        <p class="apropos-paragraph"><b>Mme AFRITE BENNANI Hakima</b> Associée-Cogérante est responsable de l’administration interne; elle a une longue expérience en contact et <b>service client</b>.</p>
                </div>
            </div>
        </div>
    </div>
        <div class="container"><hr id="apropos-top-hr"></div>
        
        <div class="container apropos-second-container">
            
                <div class="col-12">
                    <p class="apropos-second-text"><em><span class="custom-span">“</span> Le silence du client est une ile aux trésors où s'entassent toutes les <b>insatisfactions</b> et les réclamations conscientes et inconscientes, <b>l'écoute client</b> est l'art qui permet de les découvrir et d'en tirer <b>profit</b> <span class="custom-span">”</span></em></p>
                </div>
        </div>
        <div class="container"><hr id="apropos-bottom-hr"></div>
        
        <div class="container">
            <div class="custom-approche">
                <p>Notre Approche</p>
            </div>
        </div>
        <div class="container">
            <div class="p">
                <p>La gestion de l’insatisfaction  constitue le cœur de la <b>Gestion de la Relation Client (GRC</b> plus répandue sous l’acronyme anglophone de <b>CRM : Customer Relationship Management)</b>.  Elle est aussi la source la moins onéreuse de profits stables et objectivables . Pour cela nous préconisons la <b>démarche</b> de satisfaction en 4 Temps ou des 4 <b>Transformations</b> (Démarche satisfaction 4T ©) :</p>
            </div>
        </div>
        <div class="custom-c">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <img src="{{ asset('asset/img/apropos_checkmark_logo.png') }}" alt="mark_icon">
                    </div>
                    <div class="col-auto">
                        <p class="marks-p">Transformer les insatisfactions en réclamations.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <img src="{{ asset('asset/img/apropos_checkmark_logo.png') }}" alt="mark_icon">
                    </div>
                    <div class="col-auto">
                        <p class="marks-p">Transformer les réclamations en satisfaction.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <img src="{{ asset('asset/img/apropos_checkmark_logo.png') }}" alt="mark_icon">
                    </div>
                    <div class="col-auto">
                        <p class="marks-p">Transformer la satisfaction en fidélisation.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <img src="{{ asset('asset/img/apropos_checkmark_logo.png') }}" alt="mark_icon">
                    </div>
                    <div class="col-auto">
                        <p class="marks-p">Transformer la fidélisation en profit et bouche à oreille positif.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="p" style="margin-top:50px;">
                <p>Il s’agit d’un <b>processus transversal</b> qui va impliquer toutes les fonctions de la compagnies et tous les niveaux de décision, mettant ainsi <b>le client au cœur</b> de la <b>stratégie</b> et de l’<b>organisation</b> d’une <b>entreprise</b>.</p>
            </div>
        </div>
            
        

    </div>
{% endblock %}
