<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('asset/img/apropos_checkmark_logo.png') }}">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/lib/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{ asset('asset/css/main.css') }}">
        {% endblock %}

        
    </head>
    <body>
        <header>
            <div class="custom-navbar">
                <div class="logo">
                    <img src="{{ asset('asset/img/vocc_logo.png')}}" alt="vocc_logo">
                </div>
                <ul class="links">
                    <li><a href="{{ path('home') }}"><img src="{{ asset('asset/img/home_logo.png') }}" alt="home_logo"></a></li>
                    <li><a href="{{ path('apropos') }}">à propos</a></li>
                    <li><a href="{{ path('methode') }}">méthode</a></li>
                    <li><a href="{{ path('prestations') }}">préstations</a></li>
                    <li><a href="{{ path('formations') }}">formations</a></li>
                    <li><a href="{{ path('contact') }}">contact</a></li>
                </ul>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <div class="dropdown_menu">
                <ul>
                    <li><a href="{{ path('home') }}">home</a></li>
                    <li><a href="{{ path('apropos') }}">à propos</a></li>
                    <li><a href="{{ path('methode') }}">méthode</a></li>
                    <li><a href="{{ path('prestations') }}">préstations</a></li>
                    <li><a href="{{ path('formations') }}">formations</a></li>
                    <li><a href="{{ path('contact') }}">contact</a></li>
                </ul>
            </div>
        </header>
        <script>
            const toggleBtn = document.querySelector('.toggle_btn')
            const toggleBtnIcon = document.querySelector('.toggle_btn i')
            const dropDownMenu = document.querySelector('.dropdown_menu')

            toggleBtn.onclick = function (){
                dropDownMenu.classList.toggle('open')
                const isOpen = dropDownMenu.classList.contains('open')

                toggleBtnIcon.classList = isOpen
                    ? 'fa-solid fa-xmark'
                    : 'fa-solid fa-bars'
            }
        </script>

        {% block body %}
        
        {% endblock %}
        <footer>
            <div class="container">
                <hr>
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="row align-items-center justify-content-start">
                            <div class="col-auto">
                                <img id="footer_logo" src="{{ asset('asset/img/vocc_footer.png') }}" alt="footer_logo">
                            </div>
                            <div class="col-auto">
                                <p id="copyright">@ VOCC 2013 - TOUS DROITS RESERVES</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row justify-content-end">
                            <div class="col-6">
                                
                            </div>
                            <div class="col-auto">
                                <p id="realisee">réalisé par</p>
                            </div>
                            <div class="col-auto">
                                <img id="footer_logo2" src="{{ asset('asset/img/elevenmedia_logo.png') }}" alt="footer_logo">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('asset/lib/sweetalert/sweetalert.js') }}"></script>
            <script src="{{ asset('asset/lib/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('asset/lib/bootstrap/js/bootstrap.bundle.js') }}"></script>
            <script src="{{ asset('asset/js/main.js') }}"></script>
        {% endblock %}

        
    </body>
</html>
