{% extends 'base.html.twig' %}

{% block title %}Vocc - méthode{% endblock %}

{% block body %}
    <div class="formations_banner">
        <div class= "container">
            <h1>NOTRE METHODE</h1>
        </div>
    </div>
    <div class="container">            
        <div class="row ">
            <p class="methode-firt-paragraph"><span class="span-methode-firt-paragraph" >LAST Care©</span> (but not least, en effet le traitement de l’insatisfaction est le dernier soin à apporter à une transaction mal perçue par le client mais non le moindre car de lui va dépendre la suite de sa relation avec l’entreprise)</p>  
        </div>
        <div class="row row-methode-2">
            <div class="col-md-3 methode-title">
                <img src="{{ asset('asset/img/listen.png') }}">
                <p><span class="methode-span">LISTEN</span>/ECOUTER</p>

            </div>
            <div class="col-md-9 " id="ps-methode">
                <p>Il s’agit de mettre tous les capteurs humains et matériels et tous les canaux de l’entreprise à tous <span class="bold-text">les points de contact clients</span> en mode <span class="bold-text">écoute continue</span> et synchrone. La principale caractéristique de cette écoute étant l’ <span class="bold-text">empathie</span></p>
            </div>
        </div> 
        <div class="row row-methode-2">
            <div class="col-md-3  methode-title">
                <img src="{{ asset('asset/img/analyse.png') }}">
                <p><span class="methode-span">ANALYZE</span>/ANALYSER</p>

            </div>
            <div class="col-md-9 " id="ps-methode">
                <p>L’analyse va concerner la voix des clients, mais aussi tout le processus et les mesures de satisfaction et d’efficience. Elle va permettre d’examiner, d’interpréter, de découvrir, d’estimer, de tester, d’améliorer, de changer et d’évaluer tous les paramètres aux niveaux opérationnel, tactique et stratégique.</p>
            </div>
        </div> 
        <div class="row row-methode-2">
            <div class="col-md-3 methode-title">
                <img src="{{ asset('asset/img/satisfy.png') }}">
                <p><span class="methode-span">SATISFY</span>/SATISFAIRE</p>

            </div>
            <div class="col-md-9 " id="ps-methode">
                <p>  La satisfaction client suite à un mécontentement et surtout durant toute durée de la relation est l’objectif de la méthode. Elle doit pouvoir être mesurable et chiffrable. D’autre part la satisfaction des clients ne peut être atteinte qu’avec un personnel satisfait en tant qu’élément clé de la relation avec le client et en tant que client interne lui-même (<span classe="bold-text">symétrie des attentions:</span>prendre soin des équipes pour qu’elles prennent soin des clients).</p>
            </div>
        </div> 
        <div class="row row-methode-2">
            <div class="col-md-3 methode-title">
                <img src="{{ asset('asset/img/train.png') }}">
                <p><span class="methode-span">TRAIN</span>/FORMER</p>

            </div>
            <div class="col-md-9 " id="ps-methode">
                <p>  La satisfaction client suite à un mécontentement et surtout durant toute durée de la relation est l’objectif de la méthode. Elle doit pouvoir être mesurable et chiffrable. D’autre part la satisfaction des clients ne peut être atteinte qu’avec un personnel satisfait en tant qu’élément clé de la relation avec le client et en tant que client interne lui-même (symétrie des attentions: prendre soin des équipes pour qu’elles prennent soin des clients).</p>
            </div>
        </div> 
        <div class="row row-methode-2">
            <div class="col-md-3 methode-title">
                <img src="{{ asset('asset/img/care.png') }}">
                <p><span class="methode-span">CARE</span></p>

            </div>
            <div class="col-md-9 " id="ps-methode">
                <p>Le terme « Care » concerne aussi bien les méthodes pour l’attention, la considération et l’intérêt à porter au client insatisfait que celles pour le management, la responsabilité, le contrôle et la supervision du système de traitement des réclamations clients.</p>
            </div>
        </div> 
        
              
    </div>
{% endblock %}
