{% extends 'base.html.twig' %}

{% block title %}Vocc - prestations{% endblock %}

{% block body %}
    <div class="formations_banner">
        <div class= "container">
            <h1>PRESTATIONS</h1>
        </div>
    </div>

    <div class="container presentations">
        <div class="row">
            <p class="presentation-first-paragraph">Toutes nos prestations sont basées sur <span class="bold-text">le transfert de</span> nos connaissances,  méthodes, outils et expériences à nos clients car nous adhérons pleinement au principe socratique « Le savoir est la seule matière qui s'accroît quand on la partage ». Quatre domaines d’activités forment le socle de notre offre autour de la Satisfaction et l’Ecoute Client :    </p>
        </div>
        <div class="row rows-presentation">
            <div class="col-lg-3 ">
                <img src="{{ asset('asset/img/logo1.png') }}" alt="">
                <p class="pre-title">LE CONSEIL</p>
            </div>
            <div class="col-lg-9">
                <p id="ps-presentation">Nous aidons les entreprises à aller plus loin que l’approche classique de la qualité des produits et prestations en développant davantage l’écoute active des client pour améliorer leur satisfaction. En effet il est nécessaire de  prendre en considération la perception, la réaction, la subjectivité et les émotions du consommateur afin de créer une relation de confiance  ...</p>
            </div>
        </div>
        <div class="row suite">
            <div class="col-lg-10">
                <hr>
            </div>
            <div class="col-lg-auto">
                <p id="pre-suite">la suite</p>
            </div>
            <div class="col-lg-auto">
                <img src="{{ asset('asset/img/btn.png') }}" alt="">
            </div>

        </div>

        <div class="row rows-presentation">
            <div class="col-lg-3 ">
                <img src="{{ asset('asset/img/logo2.png') }}" alt="">
                <p class="pre-title">LA FORMATION</p>
            </div>
            <div class="col-lg-9">
                <p id="ps-presentation">  
                L’analyse de la réticence des managers à investir dans le traitement de l’insatisfaction, fait ressortir deux freins : le premier est la difficulté à chiffrer les gains, le deuxième tient à la culture managériale. A partir des meilleures études et recherches académiques internationales, nos formations apportent les connaissances théoriques nécessaires à l’action et à l’amélioration, mais aussi ..
                </p>
            </div>
        </div>
        <div class="row suite">
            <div class="col-lg-10">
                <hr>
            </div>
            <div class="col-lg-auto">
                <p id="pre-suite">la suite</p>
            </div>
            <div class="col-lg-auto">
                <img src="{{ asset('asset/img/btn.png') }}" alt="">
            </div>

        </div>
        <div class="row rows-presentation">
            <div class="col-lg-3 ">
                <img src="{{ asset('asset/img/logo3.png') }}" alt="">
                <p class="pre-title">L' EXTERNALISATION</p>
            </div>
            <div class="col-lg-9">
                <p id="ps-presentation">
                Le traitement de l’insatisfaction est le cœur de notre métier. Les entreprises qui souhaitent se concentrer sur leur cœur de métier, qui démarrent une nouvelle activité sans avoir l’expertise d’un service client ou qui cherchent à diminuer leurs coûts peuvent nous confier le traitement des insatisfactions de leurs clients. Nous leur assurons l’amélioration de...
                </p>

            </div>
        </div>
        <div class="row suite">
            <div class="col-lg-10">
                <hr>
            </div>
            <div class="col-lg-auto">
                <p id="pre-suite">la suite</p>
            </div>
            <div class="col-lg-auto">
                <img src="{{ asset('asset/img/btn.png') }}" alt="">
            </div>

        </div>
        <div class="row rows-presentation">
            <div class="col-lg-3 ">
                <img src="{{ asset('asset/img/logo4.png') }}" alt="">
                <p class="pre-title">AMO/AMOA</p>
            </div>
            <div class="col-lg-9">
                <p id="ps-presentation">
                Nous apportons notre expertise pour assister les entreprises et <span class="bold-text">les services utilisateurs</span> à élaborer leur <span class="bold-text"> cahier des charges informatiques</span>, réceptionner et <span classe="bold-text">tester les logiciels</span> et <span classe="bold-text">former leur personnel</span> au nouvel environnement de travail. Afin d’aider les entreprises aussi à limiter leurs coûts informatiques nous les assistons dans le choix de solutions en <span class="bold-text">Cloud-</span>Computing ...(mode Saas). Notre prestation est proposée en régie permettant la facturation du temps réellement travaillé par le consultant AMOA sur le site du client et en fonction de ses besoins. 
                </p>

            </div>
        </div>
        <div class="row suite">
            <div class="col-lg-10">
                <hr>
            </div>
            <div class="col-lg-auto">
                <p id="pre-suite">la suite</p>
            </div>
            <div class="col-lg-auto">
                <img src="{{ asset('asset/img/btn.png') }}" alt="">
            </div>    

        </div>
        <div class="row separateur"></div>
    </div> 
{% endblock %}
